{
    "maps folder": "./../../maps/",
    "faces folder": "./../faces/",
    "skills folder": "./../skills/",
    "simulations": 100000,
    "destructions per sim": 10,
    "threads": 1,
    "right": {
        "camp": { "hit points": 250, "damage reduction": 0.0 },
        "skills": "none"
    },
    "left": {
        "camp": "none",
        "skills": {
            "Major General": { "overrun": 3, "battle frenzy": 3, "garrison annex": 3, "master planner": 1 },
            "Vargus": { "overrun": 3, "battle frenzy": 3, "garrison annex": 3, "master planner": 1 },
            "Anslem": { "overrun": 3, "battle frenzy": 3, "garrison annex": 3 },
            "Nusala": { "rapid fire": 3, "sniper training": 3, "garrison annex": 3 },
            "Mad General": { "overrun": 3, "battle frenzy": 3, "weekly maintenance": 3, "garrison annex": 2, "master planner": 1 }
        }
    }   
}
