{
    "maps folder": "./../maps/",
    "simulations": 10000,
    "destructions per sim": 10,
    "threads": 1,
    "right camp": { "hit points": 250, "damage reduction": 0.9 },
    "right skills": "none",
    "left camp": "none",
    "left skills": [
        {
            "general": "General",
            "skills": [
                { "name": "Rapid Fire", "level": 3 },
                { "name": "Sniper Training", "level": 3 },
                { "name": "Juggernaut", "level": 3 },
                { "name": "Overrun", "level": 3 },
                { "name": "Unstoppable Charge", "level": 3 },
                { "name": "Cleave", "level": 3 },
                { "name": "Battle Frenzy", "level": 3 }
            ]
        }
    ]
}
